/*FLOAT LABELS*/
label {
    top: 0%;
    transform: translateY(-50%);
    font-size: 11px;
    color: rgba(37, 99, 235, 1);
}
.empty input:not(:focus) + label {
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
}
input:not(:focus) + label {
    color: rgba(70, 70, 70, 1);
}
input {
    border-width: 1px;
}
input:focus {
    outline: none;
    border-color: rgba(37, 99, 235, 1);
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}
